/* PAGE BACKGROUND */
body{

margin:0;

font-family:Arial, sans-serif;

/* Gradient Background */
background: linear-gradient(135deg, #1e3c72, #2a5298);

min-height:100vh;

}



/* MAIN CONTAINER */

.container{

padding:20px;

text-align:center;

}



/* TITLE */

h1{

color:rgb(4, 4, 4);

margin-bottom:10px;

}



/* EMAIL AND PHONE */

p{

color:rgb(1, 1, 1);

}



/* CART BOX */

.cart-box{

color:rgb(50, 45, 45);

padding:15px;

font-size:20px;

display:flex;

justify-content:center;

gap:40px;

margin:20px auto;

width:300px;

border-radius:10px;

}


.cart-green{

background:linear-gradient(45deg, #11998e, #38ef7d);

}


.cart-red{

background:linear-gradient(45deg, #cb2d3e, #ef473a);

}



/* PRODUCTS LAYOUT */

.product-row{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

}



/* PRODUCT CARD */

.card{

background:rgb(163, 162, 162);

border-radius:15px;

padding:15px;

width:220px;

box-shadow:0 4px 15px rgba(0,0,0,0.3);

transition:0.3s;

}


/* HOVER EFFECT */

.card:hover{

transform:scale(1.05);

}



/* BUTTON */

button{

background:linear-gradient(45deg, green, limegreen);

color:white;

border:none;

padding:10px;

width:100%;

cursor:pointer;

border-radius:5px;

font-weight:bold;

}


button:disabled{

background:linear-gradient(45deg, red, darkred);

}



/* STOCK COLOR */

.stock-green{

color:green;

font-weight:bold;

}


.stock-red{

color:red;

font-weight:bold;

}